$dector-width: 1200px;
$table-width: 768px;
$mobile-width-only: 767px;


@font-face{
    font-family: "OpenSans";
    font-style: normal;
    font-display: swap;
    font-weight: normal;
    src:
        url("../fonts/opensans.woff2") format("woff2"),
        url("../fonts/opensans.woff") format("woff");
}

@font-face {
    font-family: "OpenSansBold";
    font-style: normal;
    font-display: swap;
    font-weight: normal;    
    src:
        url("../fonts/opensansbold.woff2") format("woff2"),
        url("../fonts/opensansbold.woff") format("woff");
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.page{
    font-family: "OpenSansBold", Arial, sans-serif;
    height: 100%;
    font-size: 17px;
    line-height: 27px;
}

.page-body{
    min-height: 100%;
    margin: 0;
}

//Навигация
.page-header{
    min-width: 260px;
}

.main-nav__list{
    margin: 0 auto;
    list-style: none; 
    line-height: 24px;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    width: 260px;

    @media(min-width: $table-width){
        width: 668px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas:
        "logo search basket"
        "catalog order delivery";
    }

    @media(min-width: $dector-width){
        width: 1050px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        grid-template-areas:
        "catalog order logo search basket"
        "new sale . . delivery";
    }
}
.main-nav__item--catalog{
    grid-area: catalog;
    @media(min-width: $table-width) and (max-width: $dector-width){
        font-size: 15px;
    }
}

.main-nav__item--order{
    grid-area: order;
    @media(min-width: $table-width) and (max-width: $dector-width){
        font-size: 15px;
    }
}

.main-nav__item--logo{
    grid-area: logo;
    @media(max-width: $mobile-width-only){
        order: -1;
    }
}

.main-nav__item--search{
    grid-area: search;
}

.main-nav__item--basket{
    grid-area: basket;
}

.main-nav__item--new{
    grid-area: new;
}

.main-nav__item--sale{
    grid-area: sale;
}

.main-nav__item--delivery{
    grid-area: delivery;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
}

.main-nav__list a{
    color: #000000;
    text-decoration: none;
}

.main-nav__toggle{
    @media(min-width: $table-width){
        display: none;
    }
}

.main-nav__item--mobile{
    @media(max-width: $mobile-width-only){
        display: none;
    }
}

.main-nav__item--table{
    @media(min-width: $table-width) and (max-width: $dector-width){
        display: none;
    }
}

//Main

.head{
    width: 320px;
    margin: 0 auto;
    padding: 0;
    @media(min-width: $table-width){
        width: 668px;
        margin: 0 auto;
    }

    @media(min-width: $dector-width){
        width: 1050px;
        margin: 0 auto;
    }
}

.page-main__title{
    margin: 0;
    padding: 0;
    font-size: 27px;
    line-height: 30px;
    @media(min-width: $table-width){
        font-size: 43px;
        line-height: 50px;
    }
    @media(min-width: $dector-width){
        font-size: 53px;
        line-height: 57px;
    }
}

.head__list{
    margin: 0;
    padding: 0;
    list-style: none;
    @media(min-width: $table-width){
        display: flex;
    }
}

.head__item{
    font-size: 19px;
    line-height: 24px;
    @media(min-width: $table-width){
        font-size: 20px;
        line-height: 30px;
    }
}

.head__item a{
    color: #000000;
    text-decoration: none;
}

.products-week{
    margin: 0 auto;
    padding: 0 30px;
    width: 260px;
    @media(min-width: $table-width){
        width: 668px;        
        margin: 0 auto;        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "title info"
        "description img"
        "tablee img"
        "cost img"
        "button img";
    }

    @media(min-width: $dector-width){
        width: 1050px;
        margin: 0 auto;
        padding: 0 50px;
        grid-template-columns: minmax(auto, 175px) minmax(auto, 350px) minmax(auto, 525px);
        grid-template-areas: 
        "info title img"
        ". description img"
        ". tablee img"
        ". cost img"
        ". button img";
    }
}

.title-section{
    font-size: 25px;
    line-height: 30px;
    @media(min-width: $table-width){
        font-size: 43px;
        line-height: 50px;
    }
    @media(min-width: $dector-width){
        font-size: 53px;
        line-height: 57px;
    }
}

.products-week__title{
    grid-area: title; 
    margin: 0;
    padding: 0;
}

.products-week__info{
    grid-area: info;
    padding: 0;
    margin: 0;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    color: #63d1bb;
}

.products-week__description{
    grid-area: description;
    padding: 0;
    margin: 0;
    font-family: "OpenSansBold", Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    @media(min-width: $table-width){
        font-size: 17px;
        line-height: 30px;
    }
}

.products-week__table{
    grid-area: tablee;
    padding: 0;
    margin: 0;
    font-family: "OpenSansBold", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    @media(min-width: $table-width){
        font-size: 17px;
        line-height: 30px;
    }
}

.products-week__img{
    grid-area: img;
    padding: 0;
    margin: 0;
}

.products-week__cost{
    grid-area: cost;
    padding: 0;
    margin: 0;
    @media(max-width: $mobile-width-only){
        display: block;
    }
    font-size: 17px;
    line-height: 24px;
    @media(min-width: $table-width){
        font-size: 20px;
        line-height: 24px;
    }
}

.products-week__button{
    grid-area: button;
    padding: 0;
    margin: 0;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
}

.about-us{
    margin: 0 auto;
    padding: 0 30px;
    @media(max-width: $mobile-width-only){
        width: 260px;
    }
    @media(min-width: $table-width){
        width: 668px;
    }
    @media(min-width: $dector-width){
        width: 700px;
    }
}

.about-us__title{
    margin: 0;
    padding: 0;
}

.about-us__list{
    list-style: none;
    margin: 0;
    padding: 0;
    @media(min-width: $table-width){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.about-us__span{
    font-size: 17px;
    line-height: 20px;
    @media(min-width: $table-width){
        font-size: 20px;
        line-height: 22px;
    }
}

.reviews{
    width: 260px;
    padding: 0 30px;
    margin: 0 auto;
    @media(min-width: $table-width){
        width: 768px;
        display: grid;
        grid-template-areas:
        "title write-reviews"
        "quote quote"
        "namee leaf-through"
        "inst-name leaf-through";
    }
    @media(min-width: $dector-width){
        width: 875px;
    }
}

.reviews__title{
    margin: 0;
    padding: 0;
    grid-area: title;
}

.reviews__quote{
    margin: 0;
    padding: 0;
    grid-area: quote;
    font-size: 15px;
    line-height: 30px;    
    font-family: "OpenSans", Arial, sans-serif;
    @media(min-width: $table-width){
        font-size: 17px;
        line-height: 30px;
    }
}

.reviews__name{
    grid-area: namee;    
    font-size: 15px;
    line-height: 24px;
    font-style: normal;
    @media(min-width: $table-width){
        font-size: 17px;
        line-height: 24px;
    }
}

.reviews__inst-name{
    text-decoration: none;    
    font-size: 15px;
    line-height: 24px;
    font-family: "OpenSans", Arial, sans-serif;
    @media(min-width: $table-width){
        font-size: 17px;
        line-height: 24px;
    }
    @media(max-width: $mobile-width-only){
        display: block;
    }
    color: #000000;
    grid-area: inst-name;
}

.reviews__leaf-through{
    grid-area: leaf-through;
}

.reviews__write-reviews{    
    text-decoration: none;     
    font-size: 18px;
    line-height: 20px;
    @media(min-width: $table-width){
        font-size: 17px;
        line-height: 20px;
    }
    color: #000000;
    grid-area: write-reviews;
}

.contacts{
    width: 320px;
    padding: 0;
    margin: 0 auto;
    @media(min-width: $table-width){
        width: 768px;
        display: grid;        
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "title img"
        "contacts__list contacts__list"
        "map map"
        "write-us write-us";
    }
    @media(min-width: $dector-width){
        width: 1100px;
        grid-template-columns: minmax(auto, 175px) minmax(auto, 350px) minmax(auto, 525px);
        grid-template-areas:
        ". . map"
        "img title map"
        ". contacts__list map"
        ". write-us map";
    }
}

.contacts__title{
    margin: 0;
    padding: 0;
    grid-area: title;
    font-size: 18px;
    line-height: 30px;
    @media(min-width: $table-width){
        font-size: 43px;
        line-height: 50px;
    }
    @media(min-width: $dector-width){
        font-size: 53px;
        line-height: 57px;
    }
}

.contacts__img{
    @media(max-width: $mobile-width-only){
        display: none;
    }
    grid-area: img;
}

.contacts__list{
    grid-area: contacts__list;        
    font-size: 15px;
    line-height: 30px;
    font-family: "OpenSans", Arial, sans-serif;
    @media(min-width: $table-width){
        font-size: 17px;
        line-height: 30px;
    }
    @media(min-width: $table-width) and (max-width: $dector-width){
        display: flex;
    }
}

.contacts__item{
    display: flex;
}

.contacts__personal-data a{    
    text-decoration: none;
    color: #000000;
}

.contacts__map{
    grid-area: map;
    width: 100%;
}

.contacts__write-us{    
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    @media(max-width: $mobile-width-only){
        display: block;
    }
    grid-area: write-us;
}

.page-footer{
    margin: 0 auto;
    @media(max-width: $mobile-width-only){
        width: 320px;
    }
    @media(min-width: $table-width){
        width: 768px;
    }
    @media(min-width: $dector-width){
        width: 1250px;
    }
}

.page-footer__nav{
    @media(min-width: $table-width){
        width: 668px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    @media(min-width: $dector-width){
        width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}

.footer-nav__logo{
    color: #000000;
    @media(max-width: $mobile-width-only){
        display: none;
    }
}

.footer-nav__item{
    font-size: 19px;
    line-height: 20px;
    @media(min-width: $table-width){
        font-size: 19px;
        line-height: 18px;
    }
}

.footer-nav__item a{
    color: #000000;    
    text-decoration: none;
}

.footer-nav__nav{
    margin: 0;
    padding: 0;
    list-style: none;
    @media(min-width: $table-width){
        width: 150px;
        display: flex;
        justify-content: space-between;
    }
}

//Catalog

.catalog{
    width: 260px;
    margin: 0 auto;
    padding: 0 30px;
    @media(min-width: $table-width){
        width: 668px;
    }
    @media(min-width: $dector-width){
        width: 1050px;
    }
}

.catalog__list{
    margin: 0 auto;
    @media(min-width: $dector-width){
        display: flex;
        justify-content: space-between;
    }

}

.catalog__description{
    font-size: 17px;
    line-height: 24px;
    @media(min-width: $table-width){
        font-size: 20px;
        line-height: 24px;
    }
}

.catalog__specifications{
    font-size: 13px;
    line-height: 30px;
    font-family: "OpenSans", Arial, sans-serif;
    @media(min-width: $table-width){
        font-size: 15px;
        line-height: 30px;
    }

}

.catalog__by-button{
    font-size: 15px;
    line-height: 24px;
    @media(min-width: $table-width){
        font-size: 17px;
        line-height: 24px;
    }
}

.manual{    
    width: 260px;
    margin: 0 auto;
    padding: 0 30px;
    display: grid;
    grid-template-areas:
        "title"
        "video"
        "manual__text"
        "button";
    @media(min-width: $table-width){
        width: 668px;
        grid-template-areas:
            "video"
            "title"
            "manual__text"
            "button";
        
    }
    @media(min-width: $dector-width){
        width: 1050px;
        grid-template-areas:
            "video title"
            "video manual__text"
            "video button";
    }
}

.manual__video{
    grid-area: video;
    background-color: #000000;
}

.manual__title{
    grid-area: title;    
    font-size: 17px;
    line-height: 24px;
    @media(min-width: $table-width){
        font-size: 20px;
        line-height: 24px;
    }
}

.manual__text{
    grid-area: manual__text;    
    font-size: 13px;
    line-height: 24px;
    font-family: "OpenSans", Arial, sans-serif;
    @media(min-width: $table-width){
        font-size: 15px;
        line-height: 30px;
    }
}

.manual__button{
    grid-area: button;
    text-transform: uppercase;    
    font-size: 17px;
    line-height: 16px;
}

//Form

.form{
    width: 260px;
    margin: 0 auto;
    padding: 0 30px;
    @media(min-width: $table-width){
        width: 668px;
        
    }
    @media(min-width: $dector-width){
        width: 1050px;
    }
}

.form__paragraph{
    font-size: 13px;
    line-height: 24px;
    font-family: "OpenSans", Arial, sans-serif;
    @media(min-width: $table-width){
        font-size: 17px;
        line-height: 30px;
    }
}

.form__group{
    border: none;
    @media(min-width: $table-width){
        display: flex;
       /* grid-template-areas: 
        "form__hidden form__list";*/
    }
}

.form__hidden{
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 16px;
    color: #63d1bb;
    text-transform: uppercase;
    grid-area: form__hidden;
}

.form__list{
    list-style: none;
    margin: 0;
    padding: 0;
    grid-area: form__list;
}

.form-button{
    display: block;
    width: 100%;
}