.about-us{
    margin: 0 auto 55px;
    padding: 0;
    width: 320px;
    @media(min-width: $table-width){
        width: 768px;
    }
    @media(min-width: $dector-width){
        width: 1250px;
    }
}

.about-us__title{
    margin: 0 30px 20px;
    padding: 0;    
    @media(min-width: $table-width){
        margin: 0 50px 35px;
    }
    @media(min-width: $dector-width){
        margin: 0 275px 35px;
    }
}

.about-us__list{
    list-style: none;
    margin: 0 30px;
    padding: 0;
    @media(min-width: $table-width){
        margin: 0 50px;
        display: flex;
        flex-wrap: wrap;
    }    
    @media(min-width: $dector-width){
        margin: 0 275px;
    }
}

.about-us__item{
    display: flex;
    flex-direction: column;
    margin: 0 0 25px;
    @media(min-width: $table-width){
        max-width: 334px;
        margin: 0 0 55px;
    }
    @media(min-width: $dector-width){
        max-width: 350px;
    }
}

.about-us__img{
    width: 34px;
    margin: 0 0 10px;
    @media(min-width: $table-width){
        margin: 0 0 15px;
    }
}

.about-us__img--money{
    width: 46px;
}

.about-us__img--rocket{
    width: 55px;
    position: relative;
    left: -6px;
}

.about-us__span{
    font-size: 17px;
    line-height: 20px;
    @media(min-width: $table-width){
        font-size: 20px;
        line-height: 22px;
    }
}