.catalog{
    width: 320px;
    margin: 30px auto 0;
    padding: 0;
    @media(min-width: $table-width){
        width: 768px;
    }
    @media(min-width: $dector-width){
        width: 1050px;
    }
}

.catalog__list{
    margin: 0 30px;
    @media(min-width: $table-width){
        margin: 0 50px;
    }
    @media(min-width: $dector-width){
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}

.catalog__product{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 0 30px;
    @media(min-width: $table-width){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media(min-width: $dector-width){
        display: flex;
        flex-direction: column;
        max-width: 314px;
    }
}

.catalog__picture{
    @media(max-width: $mobile-width-only){
        max-height: 195px;
    }
}

.catalog__img{
    width: 100%;
    padding: 0;
    margin: 0;
    @media(min-width: $table-width){
        display: block;
        object-fit: cover;
    }
    @media(min-width: $dector-width){
        width: 314px;
        position: relative;
    }
}

.catalog__wrapper--specifications{
    margin: 0;
    padding: 0 28px;
    box-sizing: border-box;
    border: 1px solid #ececec;
    @media(min-width: $table-width){
        padding: 25px 30px 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }    
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    &:focus{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    }

}

.catalog__description{
    font-size: 17px;
    line-height: 24px;    
    margin: 0 0 15px;
    padding: 30px 0 0;
    @media(min-width: $table-width){
        font-size: 20px;
        line-height: 24px;
    }    
    &:hover{
        opacity: 0.5;
    }
    &:focus{
        opacity: 0.1;
    }
}

.catalog__specifications{
    font-size: 13px;
    line-height: 30px;
    margin: 0 0 25px;
    padding: 0;
    font-family: "OpenSans", Arial, sans-serif;
    @media(min-width: $table-width){
        font-size: 15px;
        line-height: 30px;
        margin: 0 0 auto;
    }

}

.catalog__by-button{
    display: flex;
    text-decoration: none;
    color: #000000;
    border-top: 1px solid #ececec;
    margin: 0;
    padding: 25px 0;
    font-size: 15px;
    line-height: 24px;
    cursor: pointer;
    @media(min-width: $table-width){
        font-size: 17px;
        line-height: 24px;
    }
    &:hover{
        .catalog__img-basket{
            fill: #63D1BB;
            opacity: 1;
        }
    }
    &:focus{
        .catalog__img-basket{
            fill: #000000;
            opacity: 0.1;
        }
    }
}

.catalog__img-basket{
    margin-left: auto;
    opacity: 0.2;
}