.contacts{
    width: 320px;
    padding: 0;
    margin: 0 auto;
    @media(min-width: $table-width){
        width: 768px;
        display: grid;        
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "title img"
        "contacts__list contacts__list"
        "map map"
        "write-us write-us";
    }
    @media(min-width: $dector-width){
        width: 1050px;
        grid-template-columns: minmax(auto, 175px) minmax(auto, 350px) minmax(auto, 525px);
        grid-template-areas:
        "img title map"
        ". contacts__list map"
        ". write-us map";
    }
}

.contacts__title{
    margin: 0 30px 35px;
    padding: 0;
    grid-area: title;
    font-size: 18px;
    line-height: 30px;
    @media(min-width: $table-width){
        font-size: 43px;
        line-height: 50px;
    }
    @media(min-width: $dector-width){
        font-size: 53px;
        line-height: 57px;
    }
    @media(min-width: $dector-width){
        margin: 50px 0;
    }
}

.contacts__img{
    grid-area: img;
    @media(max-width: $mobile-width-only){
        display: none;
    }
    @media(min-width: $table-width){
        margin: 0 50px 35px auto;
    }
    @media(min-width: $dector-width){
        margin: 50px 0;
        justify-self: center;
    }
}

.contacts__list{
    grid-area: contacts__list;        
    font-size: 15px;
    line-height: 30px;
    font-family: "OpenSans", Arial, sans-serif;
    margin: 0 30px 35px;
    @media(min-width: $table-width){
        font-size: 17px;
        line-height: 30px;
        margin: 0 50px 60px;
    }
    @media(min-width: $table-width) and (max-width: $dector-width){
        display: flex;
    }    
    @media(min-width: $dector-width){
        margin: 0 20px 70px 0;
    }
}

.contacts__item{
    display: flex;
}

.contacts__feature{
    margin: 0 0 35px;
}

.contacts__personal-data{
    margin-left: 20px;
}

.contacts__email{    
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #62d1ba;
    padding: 0 0 2px;
    &:hover{
        color: #62d1ba;
    }
    &:focus{
        opacity: 0.1;
        border-bottom: 1px solid #effaf8;
    }
}

.contacts__map{
    grid-area: map;
    overflow: hidden;
    margin: 0 0 35px;
    @media(min-width: $table-width){
        margin: 0 0 60px;
    }    
    @media(min-width: $dector-width){
        margin: 0;
    }
}

.contacts__write-us{
    grid-area: write-us;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin: 0 auto 35px;
    padding: 14px 0;
    width: 260px;
    box-sizing: border-box;
    border: 2px solid #444444;
    &:hover{
        background-color: rgba(0, 0, 0, 0.75);
        color: #ffffff;
    }
    &:focus{
        color: rgb(124, 124, 124);
    }    
    @media(max-width: $mobile-width-only){
        display: block;
    }
    @media(min-width: $table-width){
        width: 230px;
    }    
    @media(min-width: $dector-width){
        margin-left: 0;
    }
}