.header{
    min-width: 260px;
    position: relative;
    z-index: 1;
}

.main-nav{
    @media(min-width: $table-width){
        width: 768px;
        margin: 0 auto;
    }

    @media(min-width: $dector-width){
        width: 1150px;
        margin: 0 auto;
    }
}

.main-nav__list{
    margin: 0 auto;
    padding: 0;
    list-style: none; 
    line-height: 24px;
    display: flex;
    flex-direction: column;
    width: 320px;

    @media(min-width: $table-width){
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media(min-width: $dector-width){
        width: 1150px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.main-nav__item{
    @media(max-width: $mobile-width-only){
        padding: 30px 0 30px 76px;
        border-bottom: 1px solid #ececec;
    }
    box-sizing: border-box;
}


.main-nav__link{
    color: #000000;
    text-decoration: none;
    display: block;
    &:hover{
        opacity: 0.5;
        .main-nav__img{
            fill: #63D1BB;
            opacity: 1;
        }
    }
    &:focus{
        opacity: 0.3;
        .main-nav__img{
            fill: #000000;
            opacity: 0.1;
        }
    }
}

.main-nav__item--catalog{
    @media(min-width: $table-width){
        font-size: 15px;
        order: 1;
        flex-grow: 1;
        padding: 15px 0 0 50px;
    }
    @media(min-width: $dector-width){
        order: 0;
        font-size: 17px;
        line-height: 24px;
        padding: 30px 0 30px 50px;
        border-bottom: 1px solid #ececec;
    }
}

.main-nav__item--order{
    @media(min-width: $table-width){
        font-size: 15px;
        order: 2;
        flex-grow: 1;
        padding: 15px 0 0 0;
    }    
    @media(min-width: $dector-width){
        order: 0;
        font-size: 17px;
        line-height: 24px;
        padding: 30px 0 30px 35px;
        border-bottom: 1px solid #ececec;
        border-left: 1px solid #ececec;
    }
}

.main-nav__item--logo{
    position: relative;
    @media(max-width: $mobile-width-only){        
        padding: 21px 0 21px 115px;
        order: -1;
        display: flex;
    }
    @media(min-width: $table-width){
        min-height: 88px;
        order: -1;
        padding: 20px 200px 20px 50px;
        border-bottom: 1px solid #ececec;
        flex-grow: 1;
    }    
    @media(min-width: $dector-width){
        order: 0;
        padding: 0 75px 0 35px;
    }
}

.main-nav__link--logo{
    position: relative;
    top: 8px;
}

//Работа меню в тел. формате
@media(max-width: $mobile-width-only){
    .main-nav--close{
        .main-nav__item--hide{
            display: none;
        }
        .main-nav__toggle{
            position: absolute;
            top: 32px;
            right: 30px;
            width: 20px;
            height: 14px;
            cursor: pointer;
            &::before{
                content: "";
                position: absolute;
                top: 2px;
                right: 0px;
                width: 20px;
                height: 2px;
                background-color: #000000;
                box-shadow: 0 4px 0 0 #000000,
                            0 8px 0 0 #000000;
                cursor: pointer;
            }
        }
    }
    
    .main-nav--open{
        .main-nav__toggle{
            position: absolute;
            top: 28px;
            right: 30px;
            width: 21px;
            height: 21px;
            cursor: pointer;
            &::before,
            &::after{        
                content: "";
                position: absolute;
                top: 10px;
                left: -5px;
                width: 31px;
                height: 2px;
                background-color: #000000;
            }
            &::before{
                transform: rotate(45deg);
            }
            &::after{
                transform: rotate(-45deg);
            }
        }
    }
    
    .main-nav--nojs{
        .main-nav__toggle{
            display: none;
        }    
        .main-nav__item--hide{
            display: block;
        }
    }
}


.main-nav__item--search{
    position: relative;
    @media(min-width: $table-width){
        width: 83px;
        min-height: 88px;
        border: 1px solid #ececec;
    }
}

.main-nav__span--search{
    @media(min-width: $table-width){
        display: none;
    }
}

.main-nav__img{
    position: absolute;
    top: 35px;
    left: 30px;
    opacity: 0.2;
}

.main-nav__item--basket{
    position: relative;
    @media(min-width: $table-width){
        min-height: 88px;
        padding: 30px 50px 30px 82px;
        border-bottom: 1px solid #ececec;
    }
}


.main-nav__item--new{    
    font-size: 15px;
    line-height: 24px;
    padding: 20px 26px 0 50px;
}

.main-nav__item--sale{    
    font-size: 15px;
    line-height: 24px;
    padding: 20px 26px 0 35px;
}

.main-nav__item--delivery{
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;    
    @media(min-width: $table-width){
        order: 3;
        flex-grow: 2;
        text-align: right;
        padding: 15px 50px 0 0;
    }    
    @media(min-width: $dector-width){
        order: 0;
        margin-left: auto;
        flex-grow: 0;
        padding-top: 20px;
    }
}

.main-nav__toggle{
    @media(min-width: $table-width){
        display: none;
    }
}

.main-nav__item--mobile{
    @media(max-width: $mobile-width-only){
        display: none;
    }
}

.main-nav__item--table{
    @media(min-width: $table-width) and (max-width: $dector-width) {
        display: none;
    }
}